/* reset */

*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.root {
    font-size: clamp(1rem, 2.2vh, 1.5rem);
}

html {
    
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    background-color:plum;
    background-image: radial-gradient(whitesmoke, purple );
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 0 20px black;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}


h1 {
    font-size: 3rem;
    color: white;
    margin-top: 0;
    padding: 7%;
    background-color: #000;  

}


table {
    margin: 0 auto;
}

table, tr, th, td, caption {
    border: 1px solid purple;
    font-family: 'Courier New', Courier, monospace;
    /* border-collapse: collapse; */
    }


 .topnav {
    overflow: hidden;
    }
    
    .topnav a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.2rem;
    }
    
    .topnav a:hover {
        background-color: /* #ddd */purple;
        color: black;
    }
    
    .image-nails {
        width: 100%;
        height: auto;
    }

    /* @media screen and (min-width: 576px) {
        h1 {
            font-size: 2em;
        }
        .topnav {
            font-size: 2em;
        }
    } */